@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    height: 70vh;
    min-height: 70vh;
    overflow: hidden;
}
h1, h2, h3, h4, h5,h6{
  font-family: "Roboto" sans-serif !important;
  font-weight: 700 !important;
}
.ptb{
    padding-top: 60px !important;
    padding-bottom: 60px !important;

}
.ptb-md{
  padding-top: 120px !important;
    padding-bottom: 120px !important;
}
.card {
    border: none !important;
    border-radius: 10px !important;
}
.hero .container{
    max-width: 730px;
}
p{
    font-size: 16px;
    font-weight: 400;
}
body{
  font-family: "Roboto" sans-serif !important;
    font-weight: 400;
}
.nav-link{
    font-size: 16px;
    font-weight: 500;
}
.bg-kona{
    background: #6930c3 ;
    text-align: right;
}
 .btn-lg {
  font-size: 16px !important;
}
  
/*-------------BY ASCONA-------------------*/

.video-container {height: 85vh; position: relative; overflow: hidden !important;@media(min-width: 600px) { height: 100vh;}}

  video {object-fit: cover;position: absolute;height: 100%;width: 100%;top: 0;left: 0;}
  * {box-sizing: border-box;}
  .video-container:after {content: '';display: block;height: 100%;width: 100%; background: #10002b96 ; position: absolute;top: 0;left: 0;background: rgba(black, .2);z-index: 1;}
  
  .logopeli{width: 90%; padding-bottom: 20px;}
  
  .callout { position: relative;display: flex;justify-content: center;align-items: left;flex-direction: column; height: 100%;text-align: center; z-index: 99;}
  .vol {position: absolute;justify-content: flex-end; align-items: right;bottom: 20%;display: flex;text-align: right;}

  .wz h1{
    font-size: 55px !important;
    font-weight: 700;
    color: #ffffff;
  }
  .wz p{
    font-size: 22px;
    margin-bottom: 30px;
  }
  .bg-tra{ background: rgba(109,109,110,0.4) !important;color: white !important;}
  .bg-vol{ padding: 0 !important;border: 1px solid white !important;border-radius: 50% !important; color: white !important;width: 33px;height: 33px;}
  p{color: gray !important;font-size: 18px;line-height: 28px;}
  .navbar-brand{color: #5A189A !important;font-size: 22px !important;font-weight: 700;text-transform: uppercase;vertical-align: middle;cursor: pointer;}
  .container{max-width: 1240px !important;}
header{ width: 100%;position: fixed;z-index: 999;}



.btn-p1{
  background: #9d4edd !important;
  color: #ffffff !important;
}
.modal-content{
  border-radius: 20px !important;
  padding: 10px !important;
  width: 400px !important;
  margin: auto !important;
}
.modal-title{
  color: #000000;
}
.modal-header{
  border-bottom: none !important;
}
.modal-footer p{
font-size: 15px;
}

.bg-home{
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,.4)),color-stop(10%,rgba(0,0,0,0))); 
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.4) 10%,rgba(0,0,0,0)); 
    background-image: -moz- oldlinear-gradient(top,rgba(0,0,0,.4) 10%,rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.4) 10%,rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.4) 10%,rgba(0,0,0,0));
}

.bg-home.scrolled{background: black !important;}
.navbar-nav a{color: #000 !important;}
.ok{margin-top: -45px; position: relative;}
.oka{padding-bottom: 3rem !important;}
.ok1{ padding-bottom: 3rem !important;}
.ok2{padding-bottom: 3rem !important;}
.wz h2{font-size: 60px !important;}
.ok h4{ font-size: 20px;color: white !important;}
.ok1 h4{font-size: 20px;color: white !important;}
.ok2 h4{font-size: 20px; color: white !important;}
.card{border: none !important;}
.ok .row .col{padding-right: 1px !important;padding-left: 4px !important;}
.ok1 .row .col{padding-right: 1px !important;padding-left: 4px !important;}
.ok2 .row .col{padding-right: 1px !important; padding-left: 4px !important;}
/*body{background: #141414 !important;color: #ffffff !important;}*/
.bg-movil{background: #ffffff !important;}
.navbar-light .navbar-toggler{
  border-color: transparent !important;}
.ok .card img:hover{transform: scale(1.2);transform-origin: center;z-index: 99;transition: .3s ease all;cursor: pointer;}
.ok1 .card img:hover{ transform: scale(1.2);transform-origin: center;z-index: 99;transition: .3s ease all;cursor: pointer;}
.ok2 .card img:hover{transform: scale(1.2);	transform-origin: center;z-index: 99;transition: .3s ease all;cursor: pointer;}
.callout .button{cursor: pointer !important;}
.wz h3{font-size: 24px;}
.ch h1{
  font-size: 60x !important;
}

.card-body img {
  width: 25%;
  margin-bottom: 20px;
}
.text-box{
  width: 100%;
  height: 300px;
  display: block;
  text-align: center;
  padding: 40% 5%;
  background: peru;
  color: #ffffff;
  border-radius: 10px;
}
.text-box h2{
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.text-box p{
  font-size: 14px ;
  color: #ffffff !important;
}
.box{
  position: relative;
  margin-bottom: 40px;
}
.img-box{
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid blue;
  overflow: hidden;
  top: 25px;
  left: 150px;
  border-radius: 50%;
}
.img-box img{
  width: 100%;
}

.carousel-indicators .active{
  background-color: blue !important;
}
.carousel-indicators button{
  background-color: black !important;
}

.btn-cp{
background: #9d4edd  !important;
color: #ffffff !important;
}
.btn-cp:hover{
  background: #7b2cbf !important;
  color: #ffffff !important;
  }
  .btn-cs{
    background: #0466c8 !important;
    color: #ffffff !important;
  }
  .la{
    background: #240046 !important;
  }
  a {
    color:  #7b2cbf !important;
}
.bg-c-1{
  background: #9D4EDD !important;
  color: #ffffff !important;
}
.bg-c-2{
  background: #e0aaff2f !important;
}

.bg-footer{
  padding: 15px;
  font-size: 15px;
  background: #10002b;
}

.call-action{
  padding: 40px;
  border-radius: 10px;
}
.call-action p{
  color: #ffffff !important;
}
.bg-call-action{
background: #5A189A;
}

.bg-p{
  background: #7B2CBF !important;
}
.bg-s{
  background: #C77DFF !important;
}
.caird-img-overlay{
  background: #2400468f ;
}
.icon-front img{
  width: 60px !important;
  margin-bottom: 20px;
}
img{
  border-radius: 10px !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #7B2CBF !important;
}

/*-------------responsive-------------------*/


@media (min-width:300px) and (max-width: 576px) { 
  .ok{margin-top: -40px !important;position: relative;}
  .vol {position: absolute;bottom: 9%;}
  .callout p{font-size: 16px;line-height: 26px;}
  .ok h4{font-size: 16px;}
  .ok1 h4{font-size: 16px;}
  .ok2 h4{font-size: 16px;}
  .oka {padding-bottom: 1.3rem!important;}
.ok1 {padding-bottom: 1.3rem!important;}
.ok2 {padding-bottom: 1.3rem!important;}
.bg-home{background: black;color: white !important;}
.bg-home li a{color: white !important;}
.wz h1{
  font-size: 28px !important;
}
.wz p{
  font-size: 16px;
  margin-bottom: 25px;
}
.ptb{
  padding-top: 20px;
  padding-bottom: 20px;
}
 }










 @media (max-width: 768px) { 
  
  .ok{ margin-top: -50px !important; position: relative;}

  .callout p{font-size: 17px;line-height: 27px;}

  .logopeli{ width: 70%;padding-bottom: 20px;}
  .bg-home{background: black;color: white !important;}
.bg-home li a{color: white !important;}
.gwz h1{
  font-size: 40px !important;
}
.wz p{
  font-size: 20px;
  margin-bottom: 25px;
}
}
.navbar-fixed-top.scrolled {background-color: #000000dc !important;transition: background-color 800ms linear;color: #ffffff !important;}
.navbar-fixed-top.scrolled .nav-link {color:#ffff !important;}
.navbar-fixed-top.scrolled .navbar-brand{
  color: #ffffff !important;
}

.avatar{
  max-width: 100%;
  width:160px;
  height: 160px;
  margin:10px auto;
}
.item .card{
  padding: 20px ;
}

.owl-carousel .owl-item{
  padding: 10px;
}
footer p{
  font-size: 16px;
}
footer i{
  color: white;
  margin-right: 10px;
  font-size: 20px;
}


.border-b{
  width: 80%;

}
@media (max-width: 576px) {
  footer i{
    text-align: center !important;
  }
  }

@media (min-width: 768px) {  }
